@import url("./style.css");
html{
  font-size: 13px;
}
.header-logo img{
  width: 70%;
}
/* .header{
  width: 200px;
  overflow:hidden;
} */
.header-container {
  overflow: hidden;
}
.navbar{
  overflow: hidden !important;
}
.register{
  display: none;
}

.search-icon{
  display: none;
}
.contact{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.front{
  min-width: 300px;
  max-width: 300px;
  height: 35rem;
}
.acording_content {
  width: 720px !important;
}


.burger-menu {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 5%;
  z-index: 99999;
  opacity: 1;
  padding: 1px;
  font-size: 25px;
}
.bg {
  display: block;
}
.header-menu li{
  padding: 20px 5px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.header-menu li:hover {
  background-color: #ffffff;
  transition: color 0.5s ease-in-out;
  font-size: 25px;
}

.header-menu {
  position: absolute;
  background: red;
  min-height: 100vh;
  width: 70%;
  flex-direction: column;
  transition: all 1s ease-out;
  pointer-events: none;
  right:-100%;
  top: -10px;
  margin-right: -5px !important;
}
.header-menu.open {
  pointer-events: all;
  right:0;
  z-index: 9999;
}
.header-menu.close {
  pointer-events: all;
  right:-100%;
}

.navbar ul li + li{
  padding-left: 1rem;
}


.text-slider .container li{
  width: 400px;
}